body {
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-top: 50px;
}

.post-container {
    border: 2px solid;
    width: 500px;
    height: 1000px;
    border-radius: 5px;
}

.post-header {
    width:100%
}

.post-img {
    width: auto;
    height: 350px;
}

.post-icons {
    display: flex;
}

.post-body {
    width:100%
}

.post-bottom {
    height: 250px;
    width: auto;
}